/* create a button style, slightly rounded corners, semi-dark blue background, white text. Large size*/
.big_button {
    background-color: #1c72ce; /* Green */
    width: 42%;
    height: 40%;
    border: 3px solid #000000;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 56px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

/* light blue background for the entire page */
body {
    background-color: #e6f2ff;
}


div {
    width: 100%;
    height: 30%;
    margin-bottom: 10px;
    background-color: #e6f2ff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* align the objects to the right */
    align-items: flex-end;
    align-content: flex-end;
    /* increase the spacing between the objects */
    justify-content: space-around;
    /* change the objects location to the center of the webpage */

}

/* Path: index.html */


